
body a{

    text-decoration: none;
}
ul{
    list-style: none;
}

.blue li :hover{

    color:rgb(105, 158, 204) ;
}

.blue li a :hover{

    
    color:rgb(105, 158, 204) ;
}

:root{

    --bs-primary:#AB8965;
    --bs-hover:#a6845f;
    --font-jost:'Jost';
    --primary-color: #AB8965;
}   
#carouselExampleSlidesOnly{
    z-index: -1;
   
    
}
.top{

    top: 90px;
}

.container-100{

    width: auto;
}
.container-ab{

    width: 1320px !important;
}


.start{

    transform: translate(225px,5px);
}

.navigation-bar{
    top: 120px;
}

.z-2{

    z-index: -1;
}

.reservation{
    
   
}
.bs-primary {
  background-color: transparent;
  width: 155px;
  border: 1px solid;
  border-color: #fffcfa;
}

.bs-primary:hover {
  background-color: #967755;
  border-color: #856b4a;
}

.color-primary{

    color:var(--primary-color);
}

.logo {

    width: 180px;
}
/*   menu-bar setting  */
.menu-bar{

    font-size: 18px;
}

.menu-bar ul  li a:hover{

    color: cadetblue;
}
/*  font */
.font-jost{

    font-family: var(--font-jost);
}

/*  z-index of the background */
body{
    z-index: 7;
}

.form-date input{

    background-color: transparent;
    outline: none;
    border: none;
}
.form-date #count{

    border: 1px solid #ffffff47;
    border-radius: 5px;
    width: 70px;
    margin-top: 2px;
}

.submission .btn-primary{

    transition: all 0.2s;
}

.black-dim {
    background-color: rgba(0, 0, 0, 0.671);
    z-index: 3;
}

.shape-slider{

    width: 100px;
    border-top-left-radius: 50px;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}




